

body {
  background: #E6EEF7;
  padding: 20px;
  overflow: hidden;

}


.ani-bubble:hover {
  transform: rotateY(180deg);
}


/* .ani-bubble{
  
  animation: bubble-movement 10s infinite ;
} */

@keyframes bubble-movement{

	0%   {
		transform: translate3d(-50%, 0, 0);

		}
	100% {
		transform: translate3d(-50%, -500px, 0);
		height: 65px;
		width: 65px;
  }
  
  
  from { opacity: 1.0; }
  to   { opacity: 0.0; }
 
}


