.bubble {
  width: 152px;
  height: 152px;
  margin-right: 20px;
  background: white;
  border-radius: 50%;
  box-shadow: 
    0 15px 35px rgba(0, 0, 0, 0.1),
    0 3px 10px rgba(0, 0, 0, 0.1);
}
@-webkit-keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mynewmove {
  from {top: 0px;}
  to {top: 200px;}
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}

@keyframes mynewmove {
  from {top: 0px;}
  to {top: 200px;}
}

body {
  background: #E6EEF7;
  padding: 20px;
}