.slider-menu div {
  background: #006bac;
  position: relative;
  height: 228px; }
  .slider-menu div img {
    position: relative;
    z-index: 999; }
.slider-menu div:nth-child(1){
  background:#003f7c;
}
.slider-menu div:nth-child(2){
  background:#005090;
}
.slider-menu div:nth-child(3){
  background:#005a9e;
}
.slider-menu div:nth-child(4){
  background:#0065ab;
}
.slider-menu div:nth-child(5){
  background:#0072bc;
}
.slider-menu div:nth-child(6){
  background:#004d88;
}
.slider-menu div:nth-child(7){
  background:#005997;
}
.slider-menu div:nth-child(8){
  background:#006bac;
}
.slider-menu div:nth-child(9){
  background:#0078bb;
}
.slider-menu div:nth-child(10){
  background:#0085cc;
}
.slider-menu div:nth-child(11){
  background:#00558d;
}
.slider-menu div:nth-child(12){
  background:#0069a5;
}
.slider-menu div:nth-child(13){
  background:#007bb9;
}
.slider-menu div:nth-child(14){
  background:#008acb;
}
.slider-menu div:nth-child(15){
  background:#009ade;
}


.slider-menu div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+52,000000+52,ffffff+100,000000+100,ffffff+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+51,000000+51,ffffff+100 */
background: linear-gradient(to top right, black 0%, white 51%, black 51%, white 100%);
  /* IE6-9 fallback on horizontal gradient */ }



.slider-menu .row {
  padding: 0px; }

.slider-menu img {
  display: block;
  margin: 0 auto; }

.slider-menu p {
  text-align: center;
  color: #fff;
  margin-top: 20px; }


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 320px) {
  .container {
    padding: 0px 15px; }
  .site-header .container {
    padding: 0px; }
  .slider-menu div {
    padding: 50px 0px 24px 0px; }
  .slider-menu p {
    font-size: 12px; }
  body {
    margin: 0 0 65px;
    /* bottom = footer height */ }
  .site-footer {
    height: 65px;
    padding: 0px 10px; }
    .site-footer p.pull-left {
      display: none; }
    .site-footer p.pull-right {
      float: left !important; }
  .list-image > div {
    margin-top: 15px; }
  .container > .navbar-collapse {
    margin-left: 0px;
    margin-right: 0px; }
  .navbar-nav > li > p > a {
    color: #fff; }
  .navbar-nav {
    margin: 0px auto;
    width: 100%; }
    .navbar-nav li {
      width: 100%; }
    .navbar-nav .container {
      margin-left: 0px;
      margin-right: 0px; }
  .site-header .container > .navbar-header {
    margin-left: auto;
    margin-right: auto; } }
